.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrapper app-bet-slip {
    width:30vw;
    height: 100vh;
  }
.wrapper app-ball-selector {
    width: 70vw;
    height: 100vh;
  }
